[project]
	description = Linux kernel source tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kvn Sai Krishna (kvnsk)
[access "refs/for/refs/*"]
	read = group user/Kvn Sai Krishna (kvnsk)
	push = group user/Kvn Sai Krishna (kvnsk)
	label-Code-Review = -2..+2 group user/Kvn Sai Krishna (kvnsk)
	label-Verified = -1..+1 group user/Kvn Sai Krishna (kvnsk)
	rebase = group user/Kvn Sai Krishna (kvnsk)
	removeReviewer = group user/Kvn Sai Krishna (kvnsk)
	submit = group user/Kvn Sai Krishna (kvnsk)
[access "refs/heads/*"]
	read = group user/Kvn Sai Krishna (kvnsk)
	create = group user/Kvn Sai Krishna (kvnsk)
	push = +force group user/Kvn Sai Krishna (kvnsk)
	pushMerge = group user/Kvn Sai Krishna (kvnsk)
[access "refs/tags/*"]
	push = group user/Kvn Sai Krishna (kvnsk)
	push = +force group user/Kvn Sai Krishna (kvnsk)
